<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Angular test</title>
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js" integrity="sha512-Lrd4lY1eAdzAhDC85I72/+oDee8Zut38nRh9fKQsssTHhm91CRwwOAwjPB0M7UtSlWryD1dHVTBbyLadXwUJDA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body ng-app="ToDoList">
<div ng-controller="MainController">
    <singlelist mylist="course"></singlelist>
    <input ng-model="addCourse" />
    <button ng-click="addItem(course.list, addCourse)"> + </button>

    <singlelist mylist="courseTemplate"></singlelist>
    <input ng-model="addCourseTemplate" />
    <button ng-click="addItem(courseTemplate.list, addCourseTemplate)"> + </button>

    <h2>second controller test</h2>
    <div ng-controller="LearnerController">
        <h1>All Learners</h1>
        <div ng-repeat="learner in list">
            <h3>{{learner.username}}</h3>
            <p>{{learner.email}}</p>
        </div>

    </div>

    <script src="../angJs/app.js"></script>
<!--    controllers-->
    <script src="../angJs/controllers/MainController.js"></script>
    <script src="../angJs/controllers/LearnerController.js"></script>
<!--    directives -->
    <script src="../angJs/directives/singlelist.js"></script>
    <!--    services   -->
    <script src="../angJs/services/LearnerService.js"></script>

</body>
</html>