<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Angular test</title>
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js" integrity="sha512-Lrd4lY1eAdzAhDC85I72/+oDee8Zut38nRh9fKQsssTHhm91CRwwOAwjPB0M7UtSlWryD1dHVTBbyLadXwUJDA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body ng-app="ToDoList">
<div ng-controller="MainController">
    <singlelist mylist="course"></singlelist>
    <input ng-model="addCourse" />
    <button ng-click="addItem(course.list, addCourse)"> + </button>
    <div>
        <h2>test show all</h2>
        <div ng-repeat="learner in learnerList.list">
            <h3>{{learner.username}}</h3>
            <p ng-model="id">{{learner.id}}</p>
            <button ng-click="updateLearner(learnerList.list, 1"> + toupdate learner? </button>
        </div>

    </div>

<!--    <singlelist mylist="courseTemplate"></singlelist>-->
    <h3>{{ courseTemplate.title }}</h3>
    <div ng-repeat="item in courseTemplate.list">
        <li><input value="{{ item }}"> </li>
    </div>


    <input ng-model="addCourseTemplate" />
<!--    function, grabs list , input-->
    <button ng-click="showAll()">show all</button>
    <button ng-click="addItem(courseTemplate.list, addCourseTemplate)"> + Learner </button>
    <button ng-click="updateLearner(courseTemplate.list, addCourseTemplate)"> + toupdate learner? </button>
<!--    <button ng-click="addItem(courseTemplate.list, addCourseTemplate)"> + Course </button>-->



<!--    end of main controller-->
</div>
<!--    reads all from database-->
    <h2>second controller test</h2>
    <div ng-controller="LearnerController">
        <h1>All Learners</h1>
        <div ng-repeat="learner in list">
            <h3>{{learner.username}}</h3>
            <h3>{{learner.firstName}}</h3>
            <p>{{learner.email}}</p>
            <h3>-------------</h3>
        </div>
<!--        <a th:href="@{'/users/edit/' + ${learner.id}}"><button type="submit" class="btn btn-primary">Edit</button></a>-->


    </div>

    <script src="../angJs/app.js"></script>
<!--    controllers-->
    <script src="../angJs/controllers/MainController.js"></script>
    <script src="../angJs/controllers/LearnerController.js"></script>
<!--    directives -->
    <script src="../angJs/directives/singlelist.js"></script>
    <!--    services   -->
    <script src="../angJs/services/LearnerService.js"></script>

</body>
</html>