<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "./css/styles.css" rel = "stylesheet"/>
    <title>LearnMap login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Student Management System</a>
        <div sec:authorize="isAuthenticated()">
            Logged user: <span sec:authentication="name"></span>
        </div>
    </div>

</nav>
<div class="container">


    <div class="raw">
        <div class="col">
        </div>

        <div class="col">
            <div  th:if="${param.error}" class="error">
                Invalid username and password.
            </div>
            <div  th:if="${param.logout}" class="error">
                You have been logged out.
            </div>

            <!-- Login Form -->
            <form th:action="@{/login/authenticate}" method="post">


                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username"
                           aria-describedby="usernamehelp">
                    <div id="usernamehelp" class="form-text">Enter Username.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>


</body>
</html>